.top{
	height: 460px;
	background-color: burlywood;
}
.menu{
	height: 100px;
	background-color: cornflowerblue;
	text-align: center;
	display: flex;
        align-items: center;
        justify-content: center;
}
iframe{
	width: 100%;
	height: 800px;
}
a{
	margin-left: 200px;
	line-height: 100px;
	color: azure;
	font-size: 30px;
}
a:link,a:visited{
	color: azure;
	text-decoration: none;
}
