body {
    /* background-color: black; */
    background-image: url(../图片/1706848754352.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.top {
    height: 460px;
    background-color: burlywood;
    width: 100%;
}

.menu {
    height: 100px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
}

.menu a {
    color: azure;
    font-size: 30px;
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 760px;
    border: none;
}
